/frontend/dist/
/frontend/node_modules/

/frontend/.DS_Store
/frontend/Thumbs.db

/frontend/yarn-error.log
/frontend/.env

/backend/node_modules
/backend/.env
/backend/env_copy.txt
/backend/.env_dev
/backend/.env_prod
/backend/revise
#/backend/brouillon.js
/backend/modelTest.js
node_modules
moovy_carole.pem
moovybox.pem
